 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* MOBILE */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(208, 231, 245);
}

.sub-container {
    padding: 10px;
    margin-top: 30px;
    border-radius: 4px;
}

.title {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3rem;
    line-height: 1px;
    color: rgb(7, 7, 70);
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.task-adder {
    display: flex;
    gap: 20px;
    border: 2px solid black;
    padding: 10px;
    background-color: #6fdffa;
    border-radius: 10px;
}

.task-adder #task-input {
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 1.7px solid black;
    font-size: .8rem;
    padding-left: 10px;
    font-weight: bold;
    background-color: white;
    font-family: 'Poppins';
}

.task-adder #add-button {
    height: auto;
    padding: 5px 13px;
    background-color: rgb(3, 3, 21);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
    width: auto;
}

.task-added-menu {
    margin: 30px 0px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(61, 58, 58, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 20p;
}

.task-added {
    padding-left: 30px;
    padding-right: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(20, 3, 3, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    width: 250px;
    margin-left: 10px;
    border-radius: 20px;
}

.task-added label {
    font-size: .9em;
    font-weight: 300;
    width: 200px;
}

.task-added:hover {
    transform: scale(1.1);
}

.complete-button {
    display: flex;
    justify-content: center;
}
.complete-button button {
    height: auto;
    padding: 20px 40px;
    background-color: rgb(3, 3, 21);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
}

footer {
    height: auto;
    padding: 10px 40px;
    background-color: rgb(3, 3, 21);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.icons {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


/* Small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
    
}

/* desktop styles */
@media screen and (min-width: 1200px) {
    
}